extends layout

block content
  - var messages = data
  - var messageSplit = messages.split('}')
  h1= 'Home Page'
  //p #{messageSplit}
  each val in messageSplit
    p
      a(href="google.com") #{val}
  
  
