doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

block content
  h1= title

  p Enter a Username Below:
  input#Username(textarea='Username')
  |
  br
  |
  p Enter a Password Below:
  input#Password(textarea='Password')
  |
  br
  |
  br
  script(type='text/javascript' src='/javascripts/signup.js')
  a(class='button', href='home', ) take me to my home page
  br
  a(class='button', onclick='addUser()') sign up
