extends layout

block content
  h1= 'Sign Up'
  
  form(action='/users', method='POST')
    p
      | username:
      input(name='username', value='', type='json')
      | password:
      input(name='password', value='', type='json')
    input(value='Submit', type='submit')
    
    p
      a(class='button', href="login") Already a user? Click here to log in
