extends layout

block content
  h1= 'Sign Up'
  script(src='/javascripts/user.js')
  
  form(action='/users', method='POST')
    p
      | username:
      input(name='username', value='', type='json')
      | password:
      input(name='password', value='', type='json')
    input(value='Submit', type='submit')
